*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* --light-violet: #60a3f0; */
    --light-violet: #b3b5dd;
    --violet: #5960BF; 
    --dark-violet: #181935; 
    --white: #FFFFFF;
    --black: #000000;
    --shadow: rgba(0, 0, 0, 0.9);
    --orange: #E96F1D;
}

body{
    background-image: linear-gradient(var(--white), var(--light-violet), var(--violet));
    background-position: center;
    background-size: cover;
    height: 100%; width: 100vw;

    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

main{ 
    height: fit-content; 
    width: 65%;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--light-violet);
    box-shadow: 5px 10px 10px var(--shadow);
    
}

#heading{
    text-align: center;   
}
#heading img{ 
    height: 40px;
    width: 30px;
    filter: invert(49%) sepia(40%) saturate(1296%) hue-rotate(345deg) brightness(103%) contrast(97%);
}

#heading #img-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
#line{
    height: 5px;
    width: 100%;
    background-color: var(--orange);
}
#heading #img-txt, #line, p{
    margin-bottom: 20px;
}

#wrapper-field{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#wrapper-icon{
    height: 35px; width: 35px;
    background-color: var(--violet);

    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper-icon img{
    height: 25px; width: 25px;
}
/* for fname and lname */
#wrapperUsername div #wrapper-for-username-field{
    width: 100%;
    display: flex;
    flex-direction: row;  
}
#wrapperUsername div #wrapper-image-for-username{
    height: 35px; width: 35px;
    background-color: var(--violet);

    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapperUsername div #wrapper-image-for-username img{
    height: 25px; width: 25px; 
}


#wrapperUsername{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#wrapperUsername >*{
    width: 48%;
}

#wrapper-genderAndInterest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#wrapper-genderAndInterest div{
    width: 50%;
}

form .con{
    margin: 50px 0px 0px 0px;
}

input[type=text], input[type=email], select, textarea{
    height: 35px;
    width: 100%;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}

input[type=submit]{
    height: 35px;
    width: 100px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: var(--white);
    box-shadow: 2px 5px 5px var(--shadow);
}

@media only screen and (max-width: 1000px) {
    #wrapperUsername{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    #wrapperUsername div{
        width: 100%;  
    }

  }

  @media only screen and (max-width: 459px) {
    #heading img{ 
        height: 30px;
        width: 20px;
    }
    #heading #img-txt{
       font-size: small;
    }

    .con{
        margin: 20px 0px 0px 0px;
    }
    #wrapperUsername{
        gap: 20px;
    }
    main{ 
        padding: 15px;
    }
    
    input[type=text], input[type=email], select, textarea{
    height: 20px;
    width: 100%;
    border: none;
    }

    #wrapper-icon{
        height: 20px; width: 20px;
    }
    
    #wrapper-icon img{
        height: 15px; width: 15px;
    }
     /* for username */
    #wrapperUsername div #wrapper-image-for-username{
        height: 20px; width: 20px;
      
    }
    #wrapperUsername div #wrapper-image-for-username img{
        height: 15px; width: 15px;
    }

  }

  @media only screen and (max-width: 336px){
    #heading img{ 
        height: 20px;
        width: 10px;
    }
    #heading #img-txt{
       font-size: 10px;
    }
  }

